
.Fondo
{
  background-image:url('img/fondo.jpg');
  background-color:#cccccc;
}

.color
{
color: #FF0000;
background: #ffa20f;
}
.textbox
{

  border: 1px solid #DBE1EB;
  font-size: 18px;
  position:absolute;left:400px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(right, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  }

  .textbox:hover
  {
  color: #2E3133;
  border-color: #FBFFAD;

  }
  
  
.myButton {
	-moz-box-shadow: 0px -1px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px -1px 0px 0px #3dc21b;
	box-shadow: 0px -1px 0px 0px #3dc21b;
	background-color:#44c767;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
        position:absolute;left:650px;
	border-radius:21px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 16px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
   
   .styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }
   
   .p{
       
       text-indent:5px;
   }



